* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

.header-item {
    display: flex;
    gap: 30px;
}

.header-title {
    color: #222222;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.header-btn {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    color: white;
}

.header-btn2 {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgb(99, 99, 217);
    color: white;
}

.hero-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 50px;
    filter: brightness(100%);
}

.hero-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
    color: white;
    margin-bottom: 50px;
    filter: brightness(100%);
}

.hero-btn {
    width: 135px;
    height: 45px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

.hero-container {
    background-image: url(/images/team.jpg);
    background-size: cover;
    width: 1200px;
    height: 600px;
    padding: 40px;
    text-align: center;
    filter: brightness(80%);

}

.aside-container {
    display: flex;
    gap: 70px;
    text-align: center;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 40px));
    top: 650px;
    width: 850px;
    height: 130px;
    box-shadow: grey 5px 5px 5px 5px;
    padding: 20px;
}

.aside-img {
    margin: 0 auto;
    width: 650px;
    height: 80px;
}

.main-list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.main-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 30px;
}

.main-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    margin-bottom: 30px;
}

.main-btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 45px;
}

.card-container {
    margin-top: 40px;
    text-align: center;
}

.card-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 30px;
}

.card-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 50px;
}

.card-list {
    display: flex;
    gap: 30px;
}

.card-item {
    width: 250px;
    height: 220px;
}

.card-item {
    margin: 0 auto;
}

.card-img {
    margin-bottom: 30px;
}

.card-title2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 10px;
}

.card-text2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
}

.profile-container {
    margin-top: 50px;
}

.profile-title {
    margin-bottom: 10px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;

}

.profile-text {
    text-align: center;
    margin-bottom: 40px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
    width: 680px;
    margin: auto;
}

.profile-list {
    display: flex;
    flex-wrap: wrap;

}

.profile-item {
    width: 370px;
    height: 485px;
    text-align: center;
    background-color: aliceblue;
}

.profile-img {
    margin-top: 40px;
    margin-bottom: 30px;
}

.profile-title2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 10px;
}

.profile-text2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    letter-spacing: 0%;
}

.card2-container {
    margin-top: 40px;
}

.card2-item2 {
    display: flex;
    gap: 10px;
}

.card2-title {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 520px;
    margin: auto;
    margin-bottom: 10px;
}

.card2-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
    width: 560px;
    margin: auto;
    margin-bottom: 50px;
}

.card2-img {
    width: 380px;
    height: 500px;
}

.nav-container {
    margin-top: 40px;
}

.nav-item2 {
    display: flex;
    gap: 10px;
}

.nav-title {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 520px;
    margin: auto;
    margin-bottom: 10px;
}

.nav-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
    width: 560px;
    margin: auto;
    margin-bottom: 50px;
}

.nav-img {
    width: 380px;
    height: 500px;
}

.aside2-container {
    background-color: #D3E5FE;
    width: 1200px;
    height: 250px;
}

.aside2-list {
    padding: 100px;
}

.aside2-item {
    display: flex;
    gap: 40px;
    position: relative;
}

.aside2-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 380px));
    top: 0;
}

.aside2-title2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 140px));
    top: 0;
}

.aside2-title3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 140px));
    top: 0;
}

.aside2-title4 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 380px));
    top: 0;
}

.aside2-text {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 380px));
    top: 60px;
}

.aside2-text2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% - 140px));
    top: 60px;
}

.aside2-text3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 140px));
    top: 60px;
}

.aside2-text4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0%;
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50% + 380px));
    top: 60px;
}

.blog-list {
    display: flex;
    gap: 20px;
}

.blog-title {
    margin-top: 50px;
    text-align: center;
}

.blog-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.blog-item{
    border: rgb(143, 134, 134) 1px solid;
    height: 480px;
}
.blog-img {
    width: 370px;
    height: 250px;
    margin-bottom: 20px;
}

.blog-title2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 30px;
}

.blog-text2 {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 20px;
}
.blog-link{
    padding: 20px;
}